/*style file for index.html*/


/*global styling*/

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}


/*START styles for all name container*/

.name-container {
  margin-bottom: 30px;
  height: 100px;
}

.name-container #header-logo {
  float: left;
  margin-top: 20px;
  height: 70px;
  width: 70px;
}

.name-container h1, .name-container h4 {
  text-align: right;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
}

.hr-line {
  border: 0;
  height: 3px;
  background: #7d97ad;
}


/*END styles for all name container*/


/*START styles for all banner container*/

.banner-container {
  width: 100%;
  min-height: 200px;
  background-image: url("../img/banner-s.jpg");
  background-size: cover;
  border-radius: 0px !important; /*override bootsraps default border radius*/
}


/*END styles for all banner container*/


/*START styles for all features container*/

.features-container h3 {
  color: #7d97ad;
}

.feature-item {
  margin-bottom: 15px;
}

.feature-item .feature-img {
  width: 100%;
  cursor: pointer;
}

.feature-item .feature-img:hover {
  border: #7d97ad 8px solid;
  margin-top: -6px;
}

.feature-title {
  font-size: 1.5em;
  display: block;
  text-align: center;
}

.feature-subtitle {
  font-size: 1em;
  display: block;
  text-align: center;
  margin-top: -8px;
}


/*END styles for all banner container*/


/**** Media Queries *****/


/* For mobile: */

@media only screen and (min-width: 300px) {
  .name-container h1, .name-container h4 {
    letter-spacing: 1px;
  }
}


/* For tablets: */

@media only screen and (min-width: 600px) {
  .jumbotron {
    background-image: url("../img/banner-m.jpg");
  }
  .jumbotron h3 {
    text-align: left;
    font-size: 2.5em;
  }
  .jumbotron h6 {
    text-align: left;
    font-size: 1.2em;
  }
}


/* For desktop: */

@media only screen and (min-width: 769px) {
  .jumbotron {
    padding-left: 25px;
    background-image: url("../img/banner-l.jpg");
  }
  .jumbotron h3 {
    text-align: left;
    font-size: 3em;
  }
  .jumbotron h6 {
    text-align: left;
    font-size: 2em;
  }
}
